{% extends 'admin/layout.html' %}
{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-success d-flex p-3 justify-content-between align-items-center">
                <h2>le total des utilisateurs</h2>
                <h4>{{totalUser}}</h4>
            </div>
        </div>
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-warning d-flex p-3 justify-content-between align-items-center">
                <h2>les utilisateurs actives</h2>
                <h4>{{totalApprove}}</h4>
            </div>
        </div>
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-primary d-flex p-3 justify-content-between align-items-center">
                <h2>les utilisateurs non actives</h2>
                <h4>{{NotTotalApprove}}</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
