{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% include 'user/navbar.html' %}
    <div class="container">
        <div class="my-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Loisir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{user._id}}</td>
                            <td>{{user.nom}}</td>
                            <td>{{user.prenom}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.loisirs}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
